<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' rel='stylesheet'
        type='text/css'>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js' type='text/javascript'></script>

    <!-- Datepicker -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css'
        rel='stylesheet' type='text/css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js'
        type='text/javascript'></script>

    <link rel="stylesheet" href="/flask_app/static/script.js">
    <title>Edit Recipe</title>
</head>

<body>
    <div class="container">
        <div class="my-5 d-flex justify-content-between">
            <h2 class="text-center">Edit your Recipe!</h2>
            <div class="col-3 d-flex justify-content-around">
                <a href="/welcome" class="btn btn-warning btn-outline-dark">Back to recipes</a>
                <a href="/logout" class="btn btn-primary">logout</a>
            </div>
        </div>
        <form action="/edit/recipe/{{recipe.id}}" method="post" class="bg-dark text-white p-4 d-flex justify-content-between ">
            <input type="hidden" name="id" value=" {{recipe.id}}">
            {% with messages = get_flashed_messages(category_filter=['recipe_edit']) %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger">{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
            <div class="col-5">
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <input type="text" value="{{recipe.name}}" name="name" class="form-control">
                    <!-- the name values are what speak to our functionality -->
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="description" cols="30" rows="2" class="form-control">{{recipe.description}}</textarea>
                </div>
                <div class="mb-3">
                    <label for="instructions" class="form-label">Instructions:</label>
                    <textarea name="instructions" cols="30" rows="4" class="form-control">{{recipe.instructions}}</textarea>
                </div>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Date Cooked/Made:</label>
                <!-- the name values are what speak to our functionality -->
                <div class='container mb-3'>
                    <!-- <input type='text' class="form-control" id='datepicker' style='width: 300px;' > <br> -->
                    <input type='date' value="{{recipe.date}}" class="form-control" style='width: 300px;'
                        name="date">
                </div>
                <label for="date" class="form-label">Under 30 mins</label>
                <div class="d-flex justify-content-between col-6 mb-4">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="under_30" value="1">
                        <label class="form-check-label">
                            Yes
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="under_30" value="0">
                        <label class="form-check-label">
                            No
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
    </div>
</body>

</html>